body {
	margin: 3px;
	padding: 0;
}
nav {
	background-color: #7f3fff;
	display: flex;
	flex-flow: row wrap;
	gap: 3px;
	justify-content: space-between;
	position: sticky;
	top: 3px;
}
nav > * {
	border: 3px solid white;
	color: white;
	flex: auto;
	margin: -3px;
	padding: 6px;
}
nav::after {
	border: 3px solid white;
	content: "";
	margin: -3px;
	padding: 0;
	flex: 3;
}
main {
	margin: 0 auto;
	max-width: 36em;
	text-align: justify;
}
@media print {
	main {
		max-width: none;
	}
}
